{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--full">
        <h1 class="govuk-heading-xl">
          Creating a card component
        </h1>

        <p class="govuk-body-l">Demonstation of a card component that can be configured a number of ways using BEM modifiers.</p>

<section>

        <h2 class="govuk-heading-l">.govuk-card</h2>

        <p class="govuk-body">
          Default card. Has slots available for <code>govuk-card__hero</code>, <code>govuk-card__content</code> and <code>govuk-card__actions</code>.
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>

</section>

<section>

        <h2 class="govuk-heading-l">.govuk-card + .govuk-card--contained</h2>

        <p class="govuk-body">
          Modifier class <code>govuk-card--contained</code> can be added. This will add a background colour and padding.
        </p>


        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--contained">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--contained">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--contained">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card govuk-card--contained">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card govuk-card--contained">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>
</section>

<section>
        <h2 class="govuk-heading-l">.govuk-card + .govuk-card--contained + .govuk-card--contained--on-background</h2>

        <p class="govuk-body">
          Modifier class <code>govuk-card--contained--on-background</code> can be added on top of <code>govuk-card--contained</code> for when the page has a background colour and you want the cards to be white.
        </p>


        <div class="wrapper--grey">

          <div class="govuk-o-grid">
            <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

              <div class="govuk-card govuk-card--contained govuk-card--contained--on-background">
                <div class="govuk-card__hero">
                  <img src="../../public/images/larry-the-downing-street-cat.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                  </p>
                </div>
                <div class="govuk-card__actions">
                  <a class="govuk-body govuk-link" href="">Perform this action</a>
                </div>
              </div>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__hero">
                  <img src="../../public/images/larry-the-downing-street-cat.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                  </p>
                </div>
                <div class="govuk-card__actions">
                  <a class="govuk-body govuk-link" href="">Perform this action</a>
                </div>
              </div>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__hero">
                  <img src="../../public/images/larry-the-downing-street-cat.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                  </p>
                </div>
                <div class="govuk-card__actions">
                  <a class="govuk-body govuk-link" href="">Perform this action</a>
                </div>
              </div>
            </div>
          </div>



          <div class="govuk-o-grid">
            <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__hero">
                  <img src="../../public/images/larry-the-downing-street-cat.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                  </p>
                </div>
                <div class="govuk-card__actions">
                  <a class="govuk-body govuk-link" href="">Perform this action</a>
                </div>
              </div>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

              <div class="govuk-card govuk-card--contained">
                <div class="govuk-card__hero">
                  <img src="../../public/images/larry-the-downing-street-cat.jpg">
                </div>
                <div class="govuk-card__content">
                  <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                  <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                  </p>
                </div>
                <div class="govuk-card__actions">
                  <a class="govuk-body govuk-link" href="">Perform this action</a>
                </div>
              </div>
            </div>
          </div>
        </div>

</section>
<section>

        <h2 class="govuk-heading-l">.govuk-card (with no image)</h2>

        <p class="govuk-body">
          Removing the image.
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>
</section>

<section>
        <h2 class="govuk-heading-l">.govuk-card (with button)</h2>

        <p class="govuk-body">
          Swapping the link for a button
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a href="#" role="button" class="govuk-c-button govuk-c-button--start">
                  Start now
                </a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a href="#" role="button" class="govuk-c-button govuk-c-button--start">
                  Start now
                </a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a href="#" role="button" class="govuk-c-button govuk-c-button--start">
                  Start now
                </a>
              </div>
            </div>
          </div>
        </div>



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a href="#" role="button" class="govuk-c-button govuk-c-button--start">
                  Start now
                </a>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a href="#" role="button" class="govuk-c-button govuk-c-button--start">
                  Start now
                </a>
              </div>
            </div>
          </div>
        </div>

</section>

<section>
        <h2 class="govuk-heading-l">.govuk-card (with heading link)</h2>

        <p class="govuk-body">
          Adding a link to the heading.
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
        </div>



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
        </div>

</section>

<section>
        <h2 class="govuk-heading-l">.govuk-card + govuk-card--borderless</h2>

        <p class="govuk-body">
          Modifier class <code>govuk-card--borderless</code> will remove the bottom blue border and associated padding.
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
        </div>



        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card govuk-card--borderless">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
        </div>
</section>

<section>

      <h2 class="govuk-heading-l">.govuk-card with content of different lengths (Using additional Flex container .govuk-card__flex-container)</h2>

      <p class="govuk-body">
        If you need your cards to be the same height regardless of content you can add <code>govuk-card__flex-container</code> and <code>govuk-card__flex-item</code> to the existing grid.
      </p>

      <div class="govuk-card__flex-container govuk-o-grid">
        <div class="govuk-card__flex-item govuk-o-grid__item govuk-o-grid__item--one-third">
            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading that’s much much much longer than the others becasue it is</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
        </div>


        <div class="govuk-card__flex-item govuk-o-grid__item govuk-o-grid__item--one-third">
            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading</h3>
                <p class="govuk-body">A very short overview.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>

          </div>

          <div class="govuk-card__flex-item govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card">
              <div class="govuk-card__hero">
                <img src="../../public/images/larry-the-downing-street-cat.jpg">
              </div>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
              <div class="govuk-card__actions">
                <a class="govuk-body govuk-link" href="">Perform this action</a>
              </div>
            </div>
          </div>
        </div>
</section>

<section>
        <h2 class="govuk-heading-l">.govuk-card + govuk-card govuk-card--contained + govuk-card--selectable</h2>

        <p class="govuk-body">
          If you want your whole card to be a link you can add <code>govuk-card--selectable</code> and add an <code><a></code> tag as the first thing inside the card markup.
        </p>

        <p class="govuk-body" style="border-left: 5px solid red; padding-left: 10px;">
          Need to understand the best way to impliment for screen readers / understand if having non-selectable text is an issue.
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="#"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>


          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third">

            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="#"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>


          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-third govuk-!-mb-r3">

            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="#"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m">Card heading of intermediate length</h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>


          </div>

        </div>

        <h2 class="govuk-heading-l">.govuk-card + govuk-card--contained + govuk-card--selectable</h2>

        <p class="govuk-body">
          On top of the whole card being a link you can add additional links indside. For example
        </p>

        <div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="#"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#hello">Link to whole section</a></h3>

                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>

              </div>
              <div class="govuk-card__actions">
                <ul class="govuk-list govuk-!-mb-r0">
                  <li><a href="#1">Item</a></li>
                  <li><a href="#2">Item</a></li>
                  <li><a href="#3">Item</a></li>
                  <li><a href="#4">Item</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card govuk-card--contained govuk-card--selectable">
              <a href="#"></a>
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#hello">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
        </div>
</section>


      </div>
    </div>
  </main>
</div>

{% endblock %}
